<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huaan.icare.xsy"
    android:versionCode="30"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    
    <!-- 百度地图SDK所需的相关权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <!-- 百度地图SDK所需的相关权限 -->

    <!-- 读取系统日志权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 极光推送SDK所需的相关权限 s -->
    <!-- Required 自定义用来收发消息的相关权限 -->
    <!-- 注意包名 -->
    <permission
        android:name="com.mapgoo.zero.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.mapgoo.zero.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    
    <!-- 禁止系统休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 极光推送SDK所需的相关权限 e -->

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 相机闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    
    <!-- 发短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 相机硬件特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <!-- 读取通讯录权限、打电话权限-一键呼救 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <!-- 监听Home键权限 -->
    <!-- <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> -->
    
    <!-- 开机自启动-可以用于开机启动某项服务在后台监听 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.mapgoo.zero.MGApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5NuMoIUY0Ce9Mxv6OpgxAC6e" />
       <!-- 百度地图sdk e -->
        
        <!-- App组件 s-->
        
        <!-- 锁屏/本地安全密码验证 -->
        <activity
            android:name="com.mapgoo.zero.ui.LockPatternActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Zoom"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <!-- 锁屏/本地安全密码-设置 -->
        <activity
            android:name="com.mapgoo.zero.ui.LockPatternSetupActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.Zoom"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <receiver
            android:name="com.mapgoo.zero.recevier.LockScreenReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <!-- webView -->
        <activity
            android:name="com.mapgoo.zero.ui.WebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
         <!-- 闪屏界面/品牌、活动、广告宣传界面 -->
        <activity
            android:name="com.mapgoo.zero.ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 引导界面/欢迎页/新版特性界面 -->
        <activity
            android:name="com.mapgoo.zero.ui.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- 登录 -->
        <activity
            android:name="com.mapgoo.zero.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoAtionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 用户注册 -->
        <activity
            android:name="com.mapgoo.zero.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" />
 
 	    <!-- 设置-->
        <activity
            android:name="com.mapgoo.zero.ui.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"  />
        
 	    <!-- 修改密码-->
        <activity
            android:name="com.mapgoo.zero.ui.ModifyPassWordActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
           android:windowSoftInputMode="adjustPan"  />
        
        <!-- 消息提醒设置 -->
        <activity
            android:name="com.mapgoo.zero.ui.MsgNotifierSettingsActivity"
            android:screenOrientation="portrait"
           android:windowSoftInputMode="adjustPan"  />

        <activity
            android:name="com.mapgoo.zero.ui.SettingsAboutActivity"
            android:screenOrientation="portrait"
           android:windowSoftInputMode="adjustPan"  />        
          <activity
            android:name="com.mapgoo.zero.ui.OfflineMapActivity"
            android:screenOrientation="portrait"
           android:windowSoftInputMode="adjustPan"  />            

        <!-- 主页 -->
        <activity
            android:name="com.mapgoo.zero.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        
        <!-- 车况查询 -->
        <activity
            android:name="com.mapgoo.zero.ui.CarConditionQueryActivity"
            android:screenOrientation="portrait" />
        
        <!-- 位置服务 -->
        <activity
            android:name="com.mapgoo.zero.ui.LocServiceActivity"
            android:screenOrientation="portrait" />
        
        <!-- 智能掌控 -->
        <activity
            android:name="com.mapgoo.zero.ui.SmartHandCtrlActivity"
            android:screenOrientation="portrait" />
        
        <!-- 便捷服务 -->
        <activity
            android:name="com.mapgoo.zero.ui.ConvenientServiceActivity"
            android:screenOrientation="portrait" />
        
        <!-- 充值中心 -->
        <activity
            android:name="com.mapgoo.zero.ui.RechargeCenterActivity"
            android:screenOrientation="portrait" />
        
        <!-- 套餐选择 -->
        <activity
            android:name="com.mapgoo.zero.ui.PackageSelectActivity"
            android:screenOrientation="portrait" />
        
        <!-- 支付方式 -->
        <activity
            android:name="com.mapgoo.zero.ui.PaymentsSelectActivity"
            android:screenOrientation="portrait" />
        
        <!-- 违章查询 -->
        <activity
            android:name="com.mapgoo.zero.ui.ViolationQueryActivity"
            android:screenOrientation="portrait" />
        
        <!-- 违章查询-结果/记录 -->
        <activity
            android:name="com.mapgoo.zero.ui.ViolationQueryResultActivity"
            android:screenOrientation="portrait" />
        
        <!-- 违章查询-其他车辆查询 -->
        <activity
            android:name="com.mapgoo.zero.ui.ViolationQueryOtherActivity"
            android:screenOrientation="portrait" />
        
        <!-- 我的4S店 -->
        <activity
            android:name="com.mapgoo.zero.ui.My4SStoreActivity"
            android:screenOrientation="portrait" />
        
        <!-- 4S服务-预约 -->
        <activity
            android:name="com.mapgoo.zero.ui.PreArrangementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <!-- 预约记录 -->
        <activity
            android:name="com.mapgoo.zero.ui.PreArrangementsRecordsActivity"
            android:screenOrientation="portrait" />
        
        <!-- 预约详情 -->
        <activity
            android:name="com.mapgoo.zero.ui.PreArrangementDetailActivity"
            android:screenOrientation="portrait" />
        
        <!-- 一键呼叫 -->
        <activity
            android:name="com.mapgoo.zero.ui.CallRescueActivity"
            android:screenOrientation="portrait" />
        <!-- 预约服务 -->
        <activity
            android:name="com.mapgoo.zero.ui.YuyuefuwuActivity"
            android:screenOrientation="portrait" />
        <!-- 入户巡视-->
        <activity
            android:name="com.mapgoo.zero.ui.RufuxunshiActivity"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait" />
        <!-- 我的订单 -->
        <activity
            android:name="com.mapgoo.zero.ui.WodedingdanActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.mapgoo.zero.ui.LaorenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mapgoo.zero.ui.XiaoxiActivity"
            android:screenOrientation="portrait" />      
        <activity
            android:name="com.mapgoo.zero.ui.MessageReadActivity"
            android:screenOrientation="portrait" />          
        <activity
            android:name="com.mapgoo.zero.ui.OrderformDetailActivity"
            android:screenOrientation="portrait" />                    
         <activity
            android:name="com.mapgoo.zero.ui.DianpuActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.mapgoo.zero.ui.ShangpinActivity"            
            android:screenOrientation="portrait" />  
         <activity
            android:name="com.mapgoo.zero.ui.OrderCreateActivity"            
            android:screenOrientation="portrait" /> 
         <activity
            android:name="com.mapgoo.zero.ui.PingjiaActivity"            
            android:screenOrientation="portrait" />                                     
        <!-- App组件 e-->
         <activity
            android:name="com.mapgoo.zero.ui.LoactionActivity"            
            android:screenOrientation="portrait" />             
          <!-- 右边指令窗口 -->
        <activity
            android:name="com.mapgoo.zero.ui.RightDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyRightDialogStyleBottom"
            android:windowSoftInputMode="adjustPan" />      

 
         <activity
            android:name="com.mapgoo.zero.ui.PhotoSelectActivity"            
            android:screenOrientation="portrait" />
        
        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
          <!-- 百度定位服务 -->
        <service
            android:name="com.mapgoo.zero.service.LocalService"
            android:enabled="true" />
        
        <!-- 极光sdk s -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="743526c792a191bd99b6eb3f" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- 极光sdk e -->
        
        
        <!-- 友盟SDK s-->
        
        <!-- 渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="OfficeChannel" />
         
        <!-- AppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="547545fcfd98c5f1630000d5" />
         
        <!-- 友盟-自更新SDK -->
        <!-- 更新下载服务 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <!-- 自更新对话框 -->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟-自更新SDK e-->
        
        <!-- 友盟-用户反馈SDK s-->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 友盟-用户反馈SDK e-->
        
        <!-- 友盟-社交分享SDK s-->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- QQ空间和QQ SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- QQ开放平台申请的 APPID: 1102932021 -->
                <data android:scheme="tencent801541202" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <!-- 微信回调界面 -->
        <!--  <activity
            android:name="com.icar4s.posonline4s.baidu.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
   		<!-- 友盟-社交分享SDK s-->
		
		<!-- 友盟SDK e-->
	
	
        <!-- 极光推送SDK s -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="743526c792a191bd99b6eb3f" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        
        
        <!-- App自定义的广播接收器 -->
        <receiver
            android:name="com.mapgoo.zero.push.JPushRecevier"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.mapgoo.zero" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.mapgoo.zero" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mapgoo.zero" />
            </intent-filter>
        </activity>
        
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- 极光推送SDK e -->
    </application>

</manifest>